.navbar {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #FEF4F4;
    z-index: 300;
    border-radius: 8px;
}
  
.navbar-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
  
.navbar-item {
    display: inline-block;
    position: relative;
}
  
.navbar-item a {
    display: inline-block;
    color: #503A3A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar-item a:hover {
    background-color: #F65151;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FEF4F4;
    min-width: 160px;
    z-index: 500;
}
  
.dropdown-content a {
    color: #503A3A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #F65151;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}